
<%- include("header") -%>

<h2>This is the about page of TODO website created using Node as backend and MongoDB database.</h2>
<p>Inspired from Web Dev by Angela Yu. <br>
    Contact email: mihirc0111@gmail.com </p>

<%- include("footer") -%>
